@import "../../../style/variables";
.mission-component {
  overflow: hidden;
  //background: linear-gradient(to top, #fff 3%, #ccc 100%);
  background: #f5efef;
  background-size: cover;
  position: relative;
  min-height: 350px;
  height: 95vh;
  display: flex;
  flex-direction: column;
}

.mission-box {
  border-color: #fff;
  border-width: 10px;
  border-style: double;
  padding: 2rem;
  align-self: center;
  display: flex;
  width: 100%;
}

.mission-text {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  border-color: #fff;
  border-width: 10px;
  border-style: double;
  font-size: 18px;
  font-weight: 900;
  margin: 0;
}

@include media-breakpoint-up(md) {

  .mission-box {
    width: 70%;
  }

  .mission-text {
    font-size: 20px;
  }
}


@include media-breakpoint-up(xl) {
  .mission-text {
    font-size: 30px;
  }
}

@include media-breakpoint-up(xxl) {
  .mission-text {
    font-size: 34px;
  }
}
