<div class="mission-component justify-content-center">
  <div class="mission-box">
    <h3 class="mission-text">
<!--      TODO translate in future-->
      <i class="text-center pb-4">Our mission</i>
      <i>Bringing myriads of data to the fingertips of any person involved in the creation of software systems (developer, tester, project manager, investor) and providing powerful visualizations to explore the data and answer any questions regarding the software system.</i>
    </h3>
  </div>
</div>
