<footer class="m-0">
  <div class="footer-content d-flex flex-row justify-content-between h-100">
    <div class="d-inline-flex text-white align-items-center">Copyright <i class="far fa-copyright px-2 text-white"></i>Dxworks
    </div>
    <ul class="list-unstyled d-inline-flex m-0 align-items-center">
      <li><a href="https://github.com/dxworks" target="_blank" class="text-white"><i class="fab fa-github px-2"></i></a>
      </li>
      <li><a href="https://hub.docker.com/orgs/dxworks" target="_blank" class="text-white"><i
        class="fab fa-docker px-2"></i></a></li>
      <li><a href="https://dxworks.atlassian.net" target="_blank" class="text-white"><i
        class="fab fa-jira px-2"></i></a></li>
      <li><a href="https://gitter.im/dxworks" target="_blank" class="text-white"><i class="fab fa-gitter px-2"></i></a>
      </li>
      <li><a href="https://www.facebook.com/dxworks.org/" target="_blank" class="text-white"><i
        class="fab fa-facebook px-2"></i></a></li>
    </ul>
  </div>
</footer>
