@mixin box-shadow($horizLength, $verticalLength, $blur, $spread, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow:inset $horizLength $verticalLength $blur $spread $color;
    -moz-box-shadow:inset $horizLength $verticalLength $blur $spread $color;
    box-shadow:inset $horizLength $verticalLength $blur $spread $color;
  } @else {
    -webkit-box-shadow: $horizLength $verticalLength $blur $spread $color;
    -moz-box-shadow: $horizLength $verticalLength $blur $spread $color;
    box-shadow: $horizLength $verticalLength $blur $spread $color;
  }
}

@mixin polygon( $width, $borderTop, $borderRight, $borderBottom, $borderLeft ) {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  border-top: $width solid $borderTop;
  border-right: $width solid $borderRight;
  border-bottom: $width solid $borderBottom;
  border-left: $width solid $borderLeft;
}

@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

@mixin ba( $width, $height ) {
  content: '';
  display: block;
  position: absolute;
  width: $width;
  height: $height;
}

@mixin gradient-vertical($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(top, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to bottom, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin gradient-horizontal($start-color: #555, $end-color: #333, $start-percent: 0%, $end-percent: 100%) {
  background-image: -webkit-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);  // Safari 5.1-6, Chrome 10+
  background-image: -o-linear-gradient(left, $start-color $start-percent, $end-color $end-percent);  // Opera 12
  background-image: linear-gradient(to right, $start-color $start-percent, $end-color $end-percent); // Standard, IE10, Firefox 16+, Opera 12.10+, Safari 7+, Chrome 26+
  background-repeat: repeat-y;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}', GradientType=0); // IE9 and down
}

@mixin border-radius($radius) {
  border-radius: $radius;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
}
