@import "../../../../../style/variables";

.about-us-component {
  border-color: $primary;
  border-style: double;
  border-width: 7px 0;
  overflow: hidden;
  //background: linear-gradient(to top, #ccc 0%, #fff 50%);
   background: #fff;
  background-size: cover;
  position: relative;
  min-height: 350px;


  .card {
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


    .dev-image {
      width: 150px;
      height: 150px;
      border-radius: 50%;
      border: 3px solid $secondary;
      overflow: hidden;

      img {
        width: 150px;
        height: 150px;
        object-fit: cover;
      }
    }
  }
}
